<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>父子组件-双向绑定</title>
</head>
<body>
    <div id="app">
    <cpn :number1="num1" :number2="num2"></cpn>
    </div>
    <template id="cpn">
        <div>
            <h3>data:{{dnumber1}}</h3>
            <input type="text" v-model="dnumber1"/>
            <h3>data:{{dnumber2}}</h3>
            <input type="text" v-model="dnumber2"/>
            <!-- v-model 相当于v-bind 和 @change-->
        </div>
    </template>
    
</body>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    //组件
const app=new Vue({
    el:'#app',
    data: {
        num1:1,
        num2:0
    },
    components:{//组件
        cpn:{
            template:'#cpn',//绑定id
            props:{
                number1:Number,//只定义类型
                number2:Number
            },
            data(){
                return{
                    dnumber1:this.number1,
                    dnumber2:this.number2
                }
            }
        }
    }
})
</script>
</html>